/* Configuracao geral css */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Configuracao geral css para mobile */
@media screen and (max-width: 480px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}