/* Configuracao do visual do componente HomeFeiras em resolucao padrao */
#container-homefeiras {
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    width: 90%;
    height: 50%;
}

.destaque-informacoes-feira {
    display: flex;
    justify-content: space-between;
}

#feira-fechada {
    color: #ff3300;
    font-weight: bold;
    font-size: clamp(.8rem, 1vw, 1rem);
}

#feira-aberta {
    color: #00ce11;
    font-weight: bold;
    font-size: clamp(.8rem, 1vw , 1rem);
}

/* Configuracao responsividade do componente HomeFeiras em resolucao até 600px */
@media screen and (max-width: 600px) {
    #container-homefeiras {
        padding: 10px;
        width: 90%;
    }
}