/* Configuracao do visual do componente LandingPageFeirante em resolucao padrao */
.container-landingpagefeirante {
    display: flex;
    height: 93vh;
}

.resumo-feirante {
    width: 70%;
    padding: 30px;
}

.perfil-feirante {
    display: flex;
    height: 20%;
}

#foto-perfil-feirante {
    width: min(18vw, 150px);
    height: min(18vw, 150px);
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    box-shadow: 0 .1px 7px 2px rgba(0, 0, 0, 0.11);
}

.dados-feirante {
    width: 100%;
    margin-left: 30px;
}

#titulo-resumo-feirante {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

#titulo-resumo-feirante h2 {
    font-size: clamp(.5rem, 2vw + 1rem, 3rem);
    color: var(--verde-escuro);
}

#tagscategoria-feirante {
    display: flex;
    align-items: center;
    height: 20%;
}

#tagscategoria-feirante ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

#tagscategoria-feirante li {
    position: relative;
    font-size: 1rem;
    color: var(--verde);
}

#tagscategoria-feirante li::after {
    content: "●";
    margin-left: 0.5rem;
}

#tagscategoria-feirante li:last-child::after {
    content: ""; 
}

.avaliacoes-feirante {
    height: 30%;
    font-size: clamp(.5rem, 1vw + 1rem, 2rem);
    color: var(--areia);
}

#detalhamento-funcionamento-feirante {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
}

#detalhamento-funcionamento-feirante p {
    font-size: clamp(.5rem, 1vw + 1rem, 1rem);
}

#detalhamento-funcionamento-feirante h4 {
    margin-bottom: 15px;
    color: var(--verde-escuro);
}

#detalhamento-funcionamento-feirante p span {
    font-weight: bold;
    color: var(--verde);
    font-size: clamp(.5rem, .5vw + 1rem, 1rem);
}

#detalhamento-funcionamento-feirante p {
    margin-bottom: 7px;
}

#funcionamento-dia-atual {
    height: 30%;
}

#funcionamento-dia-atual h4 {
    margin-bottom: 15px;
    color: var(--verde-escuro);
}

.produtos-feirante {
    width: 30%;
    padding: 30px;
}

.produtos-feirante h4 {
    margin-bottom: 25px;
    font-size: clamp(1.1rem, 2vw + 1rem, 2rem);
    color: var(--verde-escuro);
}

#lista-produtos-feirante li {
    font-size: clamp(.8rem, 2vw + 1rem, 1.2rem);
}

/* Configuracao responsividade do componente LandingPageFeirante em resolucao até 900px */
@media screen and (max-width: 900px) {
    .resumo-feirante {
        width: 60%;
        padding: 20px;
    }

    .produtos-feirante {
        width: 40%;
        padding: 20px;
    }
}

/* Configuracao responsividade do componente LandingPageFeirante em resolucao até 600px */
@media screen and (max-width: 600px) {
    .container-landingpagefeirante {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .resumo-feirante {
        width: 100%;
        padding: 30px;
    }

    .produtos-feirante {
        width: 100%;
        padding: 50px;
    }

    #detalhamento-funcionamento-feirante p, #detalhamento-funcionamento-feirante p span {
        font-size: clamp(.5rem, 2vw + .8rem, .8rem);
    }
}
